Artistry/Artistry_WF/Service References/ServiceReference1/ArtistryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ArtistryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55908/ArtistryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55908/ArtistryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55908/ArtistryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Artistry_CL.classes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IArtistryService_GetGenderInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGenderInfo" />
  </wsdl:message>
  <wsdl:message name="IArtistryService_GetGenderInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGenderInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IArtistryService_AddGender_InputMessage">
    <wsdl:part name="parameters" element="tns:AddGender" />
  </wsdl:message>
  <wsdl:message name="IArtistryService_AddGender_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddGenderResponse" />
  </wsdl:message>
  <wsdl:message name="IArtistryService_UpdateGender_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGender" />
  </wsdl:message>
  <wsdl:message name="IArtistryService_UpdateGender_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGenderResponse" />
  </wsdl:message>
  <wsdl:message name="IArtistryService_DeleteGender_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGender" />
  </wsdl:message>
  <wsdl:message name="IArtistryService_DeleteGender_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGenderResponse" />
  </wsdl:message>
  <wsdl:portType name="IArtistryService">
    <wsdl:operation name="GetGenderInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IArtistryService/GetGenderInfo" message="tns:IArtistryService_GetGenderInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArtistryService/GetGenderInfoResponse" message="tns:IArtistryService_GetGenderInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddGender">
      <wsdl:input wsaw:Action="http://tempuri.org/IArtistryService/AddGender" message="tns:IArtistryService_AddGender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArtistryService/AddGenderResponse" message="tns:IArtistryService_AddGender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGender">
      <wsdl:input wsaw:Action="http://tempuri.org/IArtistryService/UpdateGender" message="tns:IArtistryService_UpdateGender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArtistryService/UpdateGenderResponse" message="tns:IArtistryService_UpdateGender_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGender">
      <wsdl:input wsaw:Action="http://tempuri.org/IArtistryService/DeleteGender" message="tns:IArtistryService_DeleteGender_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IArtistryService/DeleteGenderResponse" message="tns:IArtistryService_DeleteGender_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IArtistryService" type="tns:IArtistryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGenderInfo">
      <soap:operation soapAction="http://tempuri.org/IArtistryService/GetGenderInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddGender">
      <soap:operation soapAction="http://tempuri.org/IArtistryService/AddGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGender">
      <soap:operation soapAction="http://tempuri.org/IArtistryService/UpdateGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGender">
      <soap:operation soapAction="http://tempuri.org/IArtistryService/DeleteGender" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArtistryService">
    <wsdl:port name="BasicHttpBinding_IArtistryService" binding="tns:BasicHttpBinding_IArtistryService">
      <soap:address location="http://localhost:55908/ArtistryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>